.ios-checkbox {

}

.ios-checkbox__input {
  display: none;
}

.ios-checkbox__input:checked + .ios-checkbox__label {
  background-color: #6DDD5D;
}

.ios-checkbox__label {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 100px;
  border-radius: 50px;
  background-color: #DDDDDD;
}

.ios-checkbox__label::after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.ios-checkbox__input:checked + .ios-checkbox__label::after {
  left: auto;
  right: 10px;
}
